@import "tailwindcss";

/* Scrollbar width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}